*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%; 
    background-color:#FFFFFF;
}
.logo img{
    height: 60px; 
    width: 139px;
    display: block;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 30px; 
    font-family: "Inter", sans-serif;
}
.nav-links li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
}
.btn-early-access{
    background-color:#30B868; 
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn-early-access:hover{
    background-color:#30B868;
}
.hero{
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}
.hero-container{
    max-width: 900px;
}
.inside-hero{
    display: inline-flex;
    align-items: center;
    background-color: #ffffff;
    color: #30B868;
    padding: 6px 18px;
    border-radius: 50px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
}
.pulse-dot{
    height: 8px;
    width: 8px;
    background-color: #30B868;
    border-radius: 50%;
    margin-right: 10px;
}
.hero-title{
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 25px;
}
.green{
    color: #30B868;
}
.text{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #d1d1d1;
    line-height: 1.6;
    max-width: 750px;
    margin: 0 auto 40px auto;
}
.hero-tab{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.green-btn{
    background-color: #30B868;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.outline-btn{
    background-color: transparent;
    color: white;
    padding: 16px 32px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
.notes-section {
    padding: 80px 10%;
    background-color: #ffffff;
    text-align: center;
    font-family: "Inter", sans-serif;
}
.notes-header{
    margin-bottom: 60px;
}
.notes-title{
    font-size: 42px;
    font-weight: 800;
    color: black;
    margin-bottom: 15px;
}
.notes-subtitle{
    font-size: 16px;
    font-weight: 400;
    color: #64748b;
    max-width: 700px;
    margin: 0 auto;
}
.notes-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}
.note-card{
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    border: 1px solid #f1f5f9;
    width: 322px;
    height: 300px;
}
.icon-container{
    width: 60px;
    height: 60px;
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 25px auto;
}
.icon-container img{
    width: 30px; 
    height: auto;
}
.note-card h3{
    font-size: 22px;
    font-weight: 700;
    color: black;
    margin-bottom: 15px;
}
.note-card p{
    font-size: 16px;
    color: grey;
}
.solution-section{
    padding: 100px 10%;
    background-color: #ffffff;
}
.solution-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    max-width: 1200px;
    margin: 0 auto;
}
.solution-image{
    flex: 1;
}
.solution-image img{
    width: 100%;
    height: auto;
    max-width: 550px;
}
.solution-content{
    flex: 1;
    font-family: "Inter", sans-serif;
}
.sub-heading{
    color: #30B868;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.solution-title{
    font-size: 48px;
    font-weight: 800;
    color: black;
    margin-bottom: 25px;
}
.solution-text{
    font-size: 18px;
    color: grey;
    line-height: 1.6;
    margin-bottom: 35px;
}
.check-list{
    list-style: none;
    padding: 0;
}
.check-list li{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 17px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}
.check-img{
    width: 24px;
    height: 24px;
}
.early-access-section{
    padding: 100px 5%;
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
}
.cta-container{
    background: rgba(247, 246, 242, 1);
    width: 100%;
    max-width: 1100px;
    padding: 80px 40px;
    border-radius: 16px;
    text-align: center;
    font-family: "Inter", sans-serif;
}
.cta-title{
    font-size: 48px;
    font-weight: 800;
    color:black;
    margin-bottom: 20px;
}
.cta-subtitle{
    font-size: 18px;
    color: grey;
    line-height: 1.6;
    margin-bottom: 40px;
}
.btn-green-cta{
    background-color:#30B868;
    color: white;
    padding: 18px 36px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.btn-green-cta:hover{
    background-color: #437d59;
}
.arrow{
    font-size: 20px;
}
.cta-footer-text{
    margin-top: 25px;
    font-size: 14px;
    color:grey;
    font-weight: 500;
}