*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%; 
    background-color:#FFFFFF;
}
.logo img{
    height: 60px; 
    width: 139px;
    display: block;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 30px; 
}
.nav-links li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
}
.btn-early-access{
    background-color:#30B868; 
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn-early-access:hover{
    background-color:#30B868;
}